/* Responsive Screens */
@media only screen and (max-width: 1800px) {
  .hero--section--title {
    font-size: 68px;
    line-height: 70px;
  }
  .skills--section--title {
    font-size: 28px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 1600px) {
  .skills--section--heading {
    font-size: 34px;
    line-height: 70px;
  }
  .skills--section--container {
    gap: 16px;
  }
  .skills--section--card {
    gap: 28px;
  }
  .skills--section--card--content {
    gap: 20px;
  }
  .skills--section--title {
    font-size: 23px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .btn-outline-primary {
    display: none;
  }
  .hero--section {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 70px;
  }
  .hero--section--content {
    width: 300px;
  }
  .hero--section--content--box {
    gap: 10px;
    justify-self: center;
  }
  .hero--section--clickable {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero--section--links--box {
    padding: 10px 0px 0px 0px;
  }
  .skills--section--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .hero--section--img {
    height: 300px;
    width: 400px;
  }
  .skills--section-card--main {
    width: 100%;
  }
  .skills--section--card {
    width: 58px;
    height: 58px;
  }

  .skills--section--title {
    font-size: 35px;
    line-height: 40px;
    text-align: center;
  }
  .portfolio--section {
    width: 100%;
    padding: 0px;
  }
  .portfolio--container-box {
    gap: 30px;
  }
  .portfolio--section--card {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .portfolio--link-tech{
    flex-direction: column;
    justify-self: center;
  }
  .portfolio--tech--container{
    align-self: center;
  }
  .portfolio--section--card:nth-child(odd) {
    flex-direction: column;
  }
  .portfolio--section--card:nth-child(even) {
    flex-direction: column;
  }
  .portfolio--section--img > img {
    width: 100%;
  }
  .hero--section--title,
  .hero--section-description,
  .footer--content {
    text-align: center;
  }
  .about--section,
  .portfolio--section--container,
  .portfolio--container-box,
  .footer--link--container,
  .footer--items > ul,
  .footer--content--container {
    display: flex;
    flex-direction: column;
  }
  .skills--section,
  .portfolio--container,
  .hero--section--content,
  .hero--section--content--box {
    align-items: center;
  }
  .skills--section,
  .footer--container {
    gap: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .about--section {
    gap: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .hero--section--title,
  .skills--section--heading,
  .sections--heading {
    font-size: 35px;
    line-height: 40px;
  }
  .contact--section {
    padding: 0px;
    margin: 0px;
    gap: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .contact--title {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
  }
  .contact--form--container {
    width: 80%;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer--social--icon > ul,
  .footer--items > ul {
    padding: 0;
    align-items: center;
  }
  .divider {
    margin: 20px;
  }
}

/* Hamburger menu  */

.nav__hamburger {
  display: none;
  width: 1.875rem;
  height: 1.313rem;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 25px;
  right: 25px;
}

.nav__hamburger__line {
  display: block;
  height: 0.188rem;
  width: 100%;
  background-color: #000000;
  border-radius: 0.625rem;
  transition: all ease-in-out 0.2s;
}

@media screen and (max-width: 1200px) {
  .nav__hamburger {
    display: flex;
    z-index: 200;
  }
  .navbar--items {
    display: flex;
  }
  .navbar--items {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255);
    top: -20rem;
    left: 0;
    width: 100%;
    transition: all ease-in-out 0.4s;
  }
  .navbar--items ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 0 0.6rem;
    z-index: -100;
  }
  .navbar--items ul li {
    text-align: center;
  }
  .navbar--items ul li a {
    padding: 0.5rem;
  }
  .navbar--items {
    z-index: -1000;
  }
  .navbar--items.active {
    top: 30px;
  }
  .nav__hamburger.active :nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.1875rem);
  }

  .nav__hamburger.active :nth-child(2) {
    opacity: 0;
  }

  .nav__hamburger.active :nth-child(3) {
    transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
  }
}

/* Responsive Screens Ends*/
