/* Skills & About Me */
.section--title {
  color: var(--heading-color);
  font-size: 21px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
}
/* Portfolio, Testimonial & Contact Me */
.sub--title {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
/* Section Titles Ends */

/* Navbar Style Start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 85.333px;
  background: var(--white);
  box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
  position: fixed; background-color: #fff;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}
.navbar--title {
  font-size: 25px;
  font-weight: 500;
  padding: 5px;
  color: var(--heading-color);
}
.navbar--items > ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 42.667px;
  text-decoration: none;
}
.navbar--items ul > li > a {
  text-decoration: none;
}
/* Navbar Content */
.navbar--content {
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}
.navbar--active-content {
  font-weight: 600;
  color: var(--primary);
}
/* Navbar Styler Ends */

/* Hero Section Style */
.hero--section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 133.333px 85.333px 133.333px;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background-color: var(--bg-shade);
  overflow: hidden;
}
.hero--section--content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.hero--section--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.333px;
}
.hero--section--content--box > button {
  margin-top: 21.333px;
}
.hero--section--title {
  color: var(--heading-color);
  font-size: 74.667px;
  font-weight: 700;
  line-height: 90px;
  align-self: stretch;
}
.hero--section--title--color {
  color: var(--primary);
}
.hero--section-description {
  color: var(--darkblue);
  margin-top: 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}
.hero--section--clickable {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}
.hero--section--links--box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 40px;
}
.hero--section--links {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 7px;
  border-radius: 5px;
  transition: all 0.2s ease;
}
.hero--section--links:hover {
  transform: scale(1.2);
}
.hero--section--img {
  display: flex;
}
.hero--section--img > img {
  width: 100%;
  height: 100%;
}
/* Hero Section Style Ends */

/* Skills style start */
.skills--section {
  display: flex;
  padding: 49.33px 85.33px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  gap: 20px;
}

.skills--section--heading {
  color: var(--heading-color);
  font-size: 34px;
  font-weight: 700;
  line-height: 27px;
}

.skills--section--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.skills--section-card--main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  width: calc(14.28% - 20px);
}

.skills--section--card {
  display: flex;
  padding: 18px;
  margin-bottom: 20px;
  margin-right: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--bg-shade);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  width: 80px;
  height: 80px;
}

.skills--section--img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.7s ease-in-out, box-shadow 0.3s ease;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}

.skills--section--card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  transform: scale(1.1);
}

.skills--section--card:hover .skills--section--img {
  animation: rotate 3s infinite linear;
  transform: scale(1.2);
  transform-origin: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.skills--section--card--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.skills--section--title {
  color: var(--heading-color);
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
}

.skills--section--description {
  color: var(--black);
  font-size: 21.3px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}
/* Skills style ends */

/* My Portfolio Starts */
.portfolio--section {
  display: flex;
  padding: 20px 85px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  overflow: hidden;
}
.portfolio--container-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.portfolio--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.3px;
}
.portfolio--section--container {
  display:inline;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 42px;
  width: 100%;
}
.portfolio--section--card {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background: #fff;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  margin-bottom: 30px;
  width: 100%;
}
.portfolio--section--card:nth-child(odd) {
  flex-direction: row;
}
.portfolio--section--card:nth-child(even) {
  flex-direction: row-reverse;
}
.portfolio--section--img {
  border-radius: 8px;
  width: 100%;
  flex: 1;
}
.portfolio--section--img > img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.portfolio--section--card--content {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 2;
}
.portfolio--section--title {
  padding-bottom: 10px;
  color: var(--heading-color);
}
.portfolio--link--container {
  display: flex;
}
.portfolio--link {
  text-decoration: none;
  display: flex;
  gap: 16px;
  border-bottom: 1.33px solid var(--primary);
  padding-right: 20px;
  padding-bottom: 10.6px;
  font-weight: 600;
  cursor: pointer;
}
.portfolio--link:hover path {
  stroke: #006b6a;
}
/* Portfolio Ends */

/* Contact style starts */
.contact--section {
  display: flex;
  padding: 30px 85px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.contact--mail {
  color: #006b6a;
  cursor: pointer;
}
.contact--mail:hover {
  scale: 1.1;
}
.contact--form--container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  width: 40%;
  row-gap: 22px;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 32px;
  row-gap: 22px;
}
.contact--label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  width: 100%;
}
.contact--input {
  display: flex;
  font-family: "Roboto";
  padding: 15px;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  border: 1.333px solid var(--primary);
  background: var(--white);
}
/* Contact End */

/* Footer Start */
.footer--container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--bg-shade);
  align-items: center;
}
.divider {
  height: 1.333px;
  width: 100%;
  background: rgba(40, 41, 56, 0.55);
}
/* Footer style ends */

/* Model style starts */
.response-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 80%;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
/* Model style ends */