@import url('./style/index.css');

body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--color);
}

:root{
  --bg-color: white;
  --color: black;
}

.text--title{
  font-size: 60px;
  font-weight: 900;
}

[data-theme="dark"] .text--description{
  font-size: 17px;
  color: rgb(170 166 195);
}

@media (max-width: 768px) {
  .text--title{
    font-size: 40px;
  }
}