@import url('./style/index.css');

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
  background-color: var(--bg-color);
  color: var(--color);
}

:root{
  --bg-color: white;
  --color: black;
}